.root {
    /*height: 100%;*/
    width: 100%;
    overflow-y: auto;
    transform: translateZ(0);
    padding-bottom: env(safe-area-inset-bottom);
}

.control {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--mantine-color-body);
}

.official-names {
    font-style: italic;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-dimmed);
    margin-left: var(--mantine-spacing-xs);
}
