.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-section span {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
}

.output {
    flex-direction: column;
    flex: 1
}

.output span, .output code {
    text-wrap: nowrap;
}

.output span:first-of-type {
    font-weight: bold;
}