{
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/recommended"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["prettier", "react", "@typescript-eslint"],
    "rules": {
        "prettier/prettier": [
            "warn",
            {
                "endOfLine": "auto"
            }
        ],
        "react-hooks/exhaustive-deps": "off",
        "react/self-closing-comp": [
            "error",
            {
                "component": true
            }
        ],
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-explicit-any": "off"
    },
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "ignorePatterns": ["**/*.json"]
}
