._root_180oh_1{width:100%;overflow-y:auto;transform:translateZ(0)}._control_180oh_8{position:sticky;top:0;z-index:1;background-color:var(--mantine-color-body)}._official-names_180oh_15{font-style:italic;font-size:var(--mantine-font-size-sm);color:var(--mantine-color-dimmed);margin-left:var(--mantine-spacing-xs)}
