._body_jalou_1{padding:calc(.5rem * var(--mantine-scale));align-items:center;width:100%;overflow-y:auto}._custom-input-group_jalou_8{flex-wrap:wrap}._custom-input-group_jalou_8>div{flex:1;min-width:calc(8.125rem * var(--mantine-scale))}
