._row_1uk92_1{flex-wrap:wrap;align-items:flex-start}._row_1uk92_1>*{flex:1;min-width:calc(8.125rem * var(--mantine-scale))}._content_euz2o_1,._body_euz2o_7,._stepper-root_euz2o_14,._stepper-content_euz2o_21{display:flex;flex-direction:column;overflow:hidden}._step-body_euz2o_28{overflow-y:auto}
