.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-section span {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

.editable .card-section span {
    text-align: start;
}

.output {
    flex-direction: column;
    flex: 1
}

.output span, .output code {
    text-wrap: nowrap;
}

.output span:first-of-type {
    font-weight: bold;
}

.segmented-control-label {
    font-weight: 500;
    margin-top: 3px;
}

.editable-group {
    flex-wrap: wrap;
    align-items: flex-start;
}

.editable-group > div {
    flex: 1;
    min-width: 150px;
}