.root {
    height: 100%;
    padding-bottom: 0;
}

.wrapper {
    height: 100%;
    overflow: hidden;
}

.message {
    overflow-y: auto;
}

.message > p:not(:first-of-type), .message > details {
    margin-top: 8px;
}

.message details {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 14px;
}