.root {
    position: relative;
    flex-direction: column;
}

.header {
    align-items: flex-end;
    padding: 4px 8px;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--mantine-color-body);
}

.body {
    position: relative;
}
