@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import '@mantine/core/styles.css';
@import '@railmapgen/mantine-components/styles.css';

:root {
    background-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #1A202C;
        color: white;
    }
}

html {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    width: -webkit-fill-available;
    padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

div#root {
    /*display: flex;*/
    height: 100%;
    width: 100%;
    background: inherit;
    /*flex-direction: column;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
}

* {
    box-sizing: border-box;
}

.flag-emoji {
    font-family: 'Apple Color Emoji', 'Noto Color Emoji', -apple-system, sans-serif;
    margin-right: 0.5rem;
}
